@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'Obelisc';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Regular.woff2') format('woff2'),
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Obelisc';
  font-weight: 500;
  font-style: semibold;
  font-display: swap;
  src:
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Medium.woff2') format('woff2'),
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Medium.woff') format('woff');
}

/* Ensures text at 600 weight appears in Obelisc-Medium instead of Obelisc-Bold */
@font-face {
  font-family: 'Obelisc';
  font-weight: 600;
  font-style: semibold;
  font-display: swap;
  src:
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Medium.woff2') format('woff2'),
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Obelisc';
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src:
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Bold.woff2') format('woff2'),
    url('https://cdn.go1static.com/assets/fonts/Obelisc-Bold.woff') format('woff');
}
